body {
	max-width:1000px;
	font-family:Helvetica,Arial,sans-serif;
	position: relative;
}

div,section,main,aside,header,footer {
	border:1px solid lightgray;
}

nav {
	position:fixed;
}

.navbar-nav{
	height: 100vh;
}

