body {
	width:100%;
	font-family:Helvetica,Arial,sans-serif;
	position: relative;
}

div,section,main,aside,header,footer {
	border:0px solid lightgray;
}

nav {
	position:fixed;
}

.navbar-nav{
	height: 100vh;
}






header {
	height:100vh;
	margin-top:-56px;
}

.fullscreen-bg {
    position: absolute;
    height:100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('rain-cover.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

.header {
	height:100vh;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden; 
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	color:white;
	padding-left:18px;
}

.header-title {
	font-size:28px;
}

.header-subtitle {
	font-size:18px;
	margin-bottom:32px;
}

.section-container {
	width:90%;
	max-width:1280px;
	padding-top:32px;
	margin-left:auto;
	margin-right:auto;
}

.section-heading {
	font-size:20px;
}

.section-card {
	background-color:#1f3a76;
	color:white;
	border-radius:0 0 5% 0;
	margin-bottom:18px;
}

.section-card--color-lightblue {
	background-color:#3386cb;
}

.card-text {
	margin-bottom:0;
}

.card-button {
	margin: 18px auto 18px auto;
	color:white;
	font-size:18px;
}

.card-list {
	margin-bottom:0;
}

.tidbit {
	background-color:#f9f9f9;
	margin-bottom:18px;
	padding:18px;
}

.tidbit-icon {
	width:100%;
}

.tidbit-heading {
	color:#346094;
	font-size:18px;
	font-weight:600;
}

.tidbit-text {
	font-size:14px;
}

.section--color-blue {
	background-color:#13b5ea;
	color:white;
}

.section--color-darkgray {
	background-color:#262626;
	color:white;
}

.section-carousel {
	padding-top:18px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

.carousel-listItem {
	line-height:36px;
}

.carousel-list {
	background-color: #213748;
	height:225px;
	padding-top:48px;
}

.slick-dots {
	bottom: 36px !important;
	z-index:5 !important;
	background-color: transparent !important; 
}

.slick-next {
	right:-10px;
}

.slick-prev {
	left:-10px;
	z-index:50;
}

.section-media {
	height:100px;
	width:100px;
	margin-bottom:24px;
}

.content-heading {
	font-size:20px;
}

.content-text {
	font-size:16px;
}

.content-button {
	color:#262626;
	font-weight:600;
	font-size:20px;
}

.content-container {
	padding-bottom:24px;
}

